<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://ali-fir-pro-binary.fir.im/9c51b18013a56099969a6679c65b98a79ecf513b?auth_key=1570601770-0-0-50a7ed1425957b118a25251119d2f248</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.gw.oraleasing.app</string>
				<key>bundle-version</key>
				<string>1.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>一见启动</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
