<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<dict>
		<key>assets</key>
		<array>
			<dict>
				<key>kind</key>
				<string>software-package</string>
				<key>url</key>
				<string>https://app.orafl.com/app/webapi/resf/files/downloadApp?devType=ios</string>
			</dict>
			<dict>
				<key>kind</key>
				<string>display-image</string>
				<key>need-shine</key>
				<integer>0</integer>
				<key>url</key>
				<string>https://ali-fir-pro-icon.fir.im/4b0ce12ffd98b928ea5ff6fa53899ccd4e60bee2?auth_key=1570595271-0-0-b200d54f4483c3f7ee1d421876705a77&amp;tmp=1570593471.2217023</string>
			</dict>
		</array>
		<key>metadata</key>
		<array>
			<dict>
				<key>bundle-identifier</key>
				<string>com.gw.oraleasing.app</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>一见启动</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
